<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout/index.css">
    <title>Proyecto Web</title>
</head>
<body>

    <header class="barraDeNavegacion">

        <div class="contenedor">
            
            <div class="navegacion">
                <div class="navElementoUno">
                    <a href="https://grupoindi.mx/">Grupo Indi</a>
                </div>
        
                <div class="navElementoDos">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Calendario</a></li>
                        <li><a href="#">Noticias</a></li>  
                    </ul>
                </div>
            </div>

            <div class="eslogan">
                <p class="tituloEmpresa">Grupo Indi</p>
                <p class="textoEslogan">"Impulsando tus ideas hacia el futuro"</p>
            </div>

        </div>

        
    </header>


    

</body>
</html>
