<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
        <title>GPS - Comunicaciones</title>
    </head>


    <body>

        <section>
            
            <h2>Una solución inteligente para la toma de decisiones.</h2>

            <div class="seccionServicio">

                <div class="seccionServicioUno">
                    <p>pANEL UNO</p>
                </div>

                <div class="seccionServicioDos">
                    <p>PANEL DOS</p>
                </div>
            
            </div>


        </section>

        

        
    </body>
</html>